@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.loader {
  border: 8px solid #fbf8b9;
  /* Light grey */
  border-top: 8px solid #0d4063;
  /* Blue */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

h1,
.error-message {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  margin: 1rem;
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 0.08rem;
}

.error-message {
  flex-direction: column;
  align-items: center;
  line-height: 4.5rem;
  font-size: 1.5rem;
}

.games-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 1.2rem;
  max-width: 80vw;
  margin: 0 auto;
  gap: 1.5rem;
}

.favoritesContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.favoritesBtn,
.sortBtn {
  margin-right: 1rem;
  margin-left: 1rem;
  font-size: .8rem;
  color: #232323;
  padding: 1.1rem .2rem;
  border: none;
  width: 9rem;
  text-align: center;
  margin-bottom: 2.5rem;
  background-color: transparent;
  font-weight: 500;
  cursor: pointer;
  background-color: #f5f3d5;
  box-shadow: 2px 2px 2px 2px black;
  border-radius: 1rem;
}

.favoritesBtn:hover,
.sortBtn:hover {
  background-color: #F7D354;
  transition: 300ms all ease;
}