.loader {
  border: 8px solid #fbf8b9;
  /* Light grey */
  border-top: 8px solid #0d4063;
  /* Blue */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 90vh;
}

.loginContainer {
  position: relative;
  min-width: 320px;
  min-height: 600px;
  width: 35%;
  height: 90%;
  margin: auto;
  padding: 20px;
}

.loginContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../img/bgLogin.jpg");
  border-radius: 1.4rem;
  background-size: cover;
  background-position: center;
  opacity: 0.5;
  filter: blur(1.8px);
  z-index: -1;
  box-shadow: 2px 5px 2px 2px #121212;
}

.loginContainerLogged {
  font-size: 2rem;
  line-height: 3.2rem;
}

.loginContainerLogged::before {
  content: "";
  position: absolute;
  top: 10%;
  left: 35%;
  right: 0;
  bottom: 10%;
  background-image: url("../img/bgLogin.jpg");
  border-radius: 1.4rem;
  background-size: cover;
  background-position: center;
  opacity: 0.5;
  filter: blur(1.8px);
  z-index: -1;
  box-shadow: 2px 5px 2px 2px #121212;
  width: 30%;
}

.loginContainerLogged a {
  color: #F7D354;
}

.loginContainer .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.loginContainer .header .icon {
  margin: 0 auto;
  font-size: 3rem;
}

.loginContainer .header p {
  padding-top: .7rem;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.5rem;
}

.loginContainer form {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.container form .inputContainer {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 80%;
}

.container form .inputContainer label {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.1rem;
  margin-bottom: .5rem;

}

.container form .inputContainer input {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 1.5rem 1rem;
  width: 100%;
  height: 3rem;
  border: none;
  border-radius: 12px;
  margin-bottom: 1rem;
  font-size: 1.1rem;
}

.container form .inputContainer :placeholder-shown {
  font-size: 1.1rem;
}

.container form a {
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1.1rem;
  padding-top: 1rem 0;
  color: #F7D354;
}

.container form .button,
.loginContainerLogged button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 45%;
  padding: .5rem 1rem;
  border-radius: 12px;
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 2rem;
  margin-bottom: 5rem;
  cursor: pointer;
  background-color: #F7D354;
  border: 2px solid #F7D354;
  color: #232323;
  transition: all 300ms ease;
  text-decoration: none;
}

.loginContainerLogged button {
  width: 100%;
}

.container form .button:hover,
.loginContainerLogged button:hover {
  background-color: transparent;
  color: #F7D354;
}

.container form .footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.loginContainerLogged .icon-check {
  margin: 0 auto;
  width: 100%;
  color: #F7D354;
}

@media (max-width: 1024px) {
  .loginContainerLogged::before {
    left: 25%;
    width: 50%;
  }
}

@media (max-width: 768px) {
  .loginContainerLogged::before {
    left: 15%;
    width: 70%;
  }
}

@media (max-width: 620px) {
  .loginContainerLogged::before {
    left: 5%;
    width: 90%;
  }
}

@media (max-width: 425px) {
  .loginContainerLogged {
    font-size: 1.5rem;
    line-height: 3.2rem;
  }
}