.game {
  display: flex;
  flex-direction: column-reverse;
  background-image: url("../img/gradiente.jpg");
  background-size: cover;
  filter: blur(1);
  backdrop-filter: opacity(.1);
  padding: .4rem;
  border-radius: 10px;
  width: 28%;
  box-shadow: 14px 10px 15px 1px rgba(0, 0, 0, 0.5);
}

.game:hover {
  scale: 1.05;
  transition: all 300ms ease-in-out;
}

.image {
  padding: .6rem;
  border-radius: 15px;
  object-fit: cover;
}

.game h2,
.game h5 {
  margin-bottom: 0.5rem;
  padding: .2rem .6rem;
}

.game h2 {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.game a {
  text-decoration: none;
  padding: .3rem .6rem;
}

.game button {
  background-color: #F7D354;
  border: 2px solid #F7D354;
  border-radius: 4px;
  color: #232323;
  padding: 0.6rem 0.6rem;
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  width: 100%;
  text-align: center;
  cursor: pointer;
  transition: all 300ms ease;
  text-decoration: none;
}

.icon {
  font-size: 1rem;
  margin-left: 8px;
}


.game button:hover {
  background-color: transparent;
  color: #F7D354;
}

@media (max-width: 800px) {
  .game {
    max-width: 100%;
    min-width: 40%;
  }

  .game h2 {
    font-size: 1.2rem;
  }

  .game button {
    width: 100%;
    margin: auto;
    padding: 0.2rem;
    font-size: 1rem;
  }
}

@media (max-width: 620px) {
  .game {
    max-width: 100%;
    min-width: 100%;
  }

  .game button {
    width: 100%;
    margin: auto;
    padding: 0.2rem;
    font-size: 1rem;
  }

  .icon {
    font-size: 0.9rem;
  }
}