.game {
  display: flex;
  flex-direction: column;
  background-image: url("../img/gradiente.jpg");
  background-size: cover;
  padding: .4rem;
  border-radius: 10px;
  width: 28%;
  box-shadow: 14px 10px 15px 1px rgba(0, 0, 0, 0.5);
}

.game:hover {
  scale: 1.05;
  transition: all 300ms ease-in-out;
}

.image {
  padding: .6rem;
  border-radius: 15px;
  object-fit: cover;
}

.game h2,
.game h5 {
  margin-bottom: 0.5rem;
  padding: .2rem .6rem;
}

.game h5 {
  margin-left: 1rem;
}

.game hr {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 1rem;
  border: 1px solid #F7D354;
}

.game h2 {
  font-size: 1.4rem;
  margin-bottom: .4rem;
  align-self: center;
  text-transform: uppercase;

}


.game a {
  text-decoration: none;
  padding: .3rem .6rem;
}

.upperPart {
  width: 100%;
  display: flex;
}

.leftPart {
  width: 30%;
}

.rightPart {
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.rating {
  margin-right: .6rem;
}

.game .details {
  background-color: #F7D354;
  border: 2px solid #F7D354;
  border-radius: 4px;
  color: #232323;
  padding: 0.6rem;
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  width: 100%;
  text-align: center;
  cursor: pointer;
  transition: all 300ms ease;
  text-decoration: none;
}

.heartBtn {
  color: #808080;
  width: 10%;
  padding: .3rem;
  border: none;
  cursor: pointer;
  background: transparent;
}

.icon-full,
.icon-empty:hover {
  font-size: 1.3rem;
  color: #fc3c5c;
  transition: 300ms all ease;
  scale: 1.2;
}

.icon-empty:hover {
  scale: 1.3;
}

.icon-empty {
  font-size: 1.3rem;
  transition: 300ms all ease;
}

.icon {
  font-size: 1rem;
  margin-left: 8px;

}

.star-filled,
.star-empty:hover {
  color: #F7D354;
  font-size: 1.3rem;
  transition: 300ms all ease;
}

.star-empty {
  color: #808080;
  font-size: 1.3rem;
  transition: 300ms all ease;
}

.game .details:hover {
  background-color: transparent;
  color: #F7D354;
}

@media (max-width: 800px) {
  .game {
    max-width: 100%;
    min-width: 40%;
  }

  .game h2 {
    font-size: 1.2rem;
  }

  .game .details {
    width: 100%;
    margin: auto;
    padding: 0.2rem;
    font-size: 1rem;
  }
}

@media (max-width: 620px) {
  .game {
    max-width: 100%;
    min-width: 100%;
  }

  .game .details {
    width: 100%;
    margin: auto;
    padding: 0.2rem;
    font-size: 1rem;
  }

  .icon {
    font-size: 0.9rem;
  }
}

@media (max-width: 320px) {

  .upperPart {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .game h5 {
    margin-left: -1rem;
  }
}