.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0rem;
  position: relative;
}

.search-term,
.search-genre {
  display: flex;
  text-align: center;
  flex-direction: column;
  gap: .5rem;
}

.search-term input,
.search-genre select {
  padding: .5rem;
  border-radius: 10px;
  border: none;
  width: 15rem;
  text-align: center;
  margin-bottom: .8rem;
  margin-right: -20px;
  height: 60px;
  background-color: #F7D354;
  font-weight: bold;
}

span {
  height: 50px;
  width: 1.8px;
  border-radius: 50%;
  background-color: #0d1621;
  position: absolute;
  top: 5px;
}

.search-term input:focus,
.search-genre select:focus {
  border: none;
  outline: none;
}


.search-term input::placeholder,
.search-genre select,
.search-genre option {
  font-size: 1rem;
  color: #232323;
  font-weight: bold;
  cursor: pointer;
}

@media (max-width: 570px) {
  .search-container {
    flex-direction: column;
  }

  span {
    display: none
  }

}